body {
  background-color: #f8f9fa;
  box-sizing: border-box;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main-wrapper {
	height: 100vh;
	width: auto;
}
a {
  color: #00b7ff;
}

@media (max-width: 575.98px) {
  #addTask {
    margin-top: 8px;
  }
}

#offline {
	background-color: #343a40;
	height: auto;
	width: 100%;
	color: deepskyblue;
	text-align: center;
	font-size: 12px;
}
#offline p {
	margin: 0px;
	padding: 0px;
}

.showOfflineNotification { 
	display: block;
}

.hideOfflineNotification { 
	display:none;
}